<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<div >


  <div >

    

    <span>{{ title }} esta en marcha!</span>
    <span>{{descripcion}}</span>
   


  </div>

  <p [ngStyle]="{color: config.color}">  


<!--
<button (click)= "ocultarvideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
<button (click)= "ocultarvideojuegos(true)" *ngIf="mostrar_videojuegos">Mostrar</button>

<videojuegos *ngIf="mostrar_videojuegos"></videojuegos>

<casa></casa>
<cursos ></cursos>
-->
<zapatillas></zapatillas>
  </p>
